<h2>Ткани ({{totalCount}})</h2>

<div class="row mb-10">
  <div class="col-xs-12 text-right">
    <a href="#/products/new" class="btn btn-default">Новая</a>
  </div>
</div>

<table class="table table-strip table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Название</th>
      <th>Вес</th>
	  <th>Ширина, см</th>
	  <th>Плотность</th>
	  <th>Цена, $</th>
	  <th>Курс $</th>
	  <th>Себестоимость, руб./м</th>

      <th>Создана</th>
      <th>Изменена</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="#product of products">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.weight}}</td>
      <td>{{product.width}}</td>
      <td>{{product.density}}</td>
      <td>{{product.dollar_price}}</td>
      <td>{{product.dollar_rate}}</td>
      <td>{{product.price_rub_m()}}</td>
      
      <td>{{product.createdAt}}</td>
      <td>{{product.updatedAt}}</td>
      <td><a href="#/products/{{product.id}}">Редактировать</a></td>
      <td><button (click)="deleteProduct(product)">Удалить</button></td>
    </tr>
  </tbody>
</table>
