<div class="row mb-10">
  <div class="col-xs-12">
    <a href="/#/customers">
      << Назад
    </a>
  </div>
</div>

<div class="container">
  <h2> Новый покупатель </h2>
  <form (ngSubmit)="onSubmit()" class="form-horizontal" [formGroup]="form">
    <div class="col-xs-12 text-right">
      <span [hidden]="form.valid">
        <label class="label label-danger mr-5">Invalid</label>
      </span>
      <button type="submit" class="btn btn-default" [disabled]="!form.valid">
        Создать
      </button>
    </div>

    <customer-form [customer]="customer" [form]="form"></customer-form>

  </form>
</div>
